@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ionic uchun majburiy sozlamalar */
:root {
  --ion-background-color: #f1f5f9;
}

.dark {
  --ion-background-color: #0f172a !important;
  --ion-text-color: #f8fafc !important;
}

ion-content {
  --background: transparent !important;
}